{% extends 'app_base.html.twig' %}

{% block title %}{% trans %}help.title{% endtrans %}{% endblock %}

{% block head %}
	<style>
		#contact-list li { display: flex; align-items: center; gap: .65rem; margin-bottom: 1rem; }
		#contact-list i { display: inline-flex; width: 2.5rem; height: 2.5rem; justify-content: center; align-items: center; font-size: 1.15rem; line-height: 1; color: white; background-color: var(--color-blue); border-radius: 1rem; }
		#contact-list a { font-weight: 600; color: var(--color-blue); }
		#contact-list a:hover { color: var(--color-black); }
	</style>
{% endblock %}

{% block body %}
    <div class="grid small-fill">
        <section class="card">
            <h2>{% trans %}help.contact{% endtrans %}</h2>
			<ul id="contact-list">
				<li>
					<i class="fab fa-twitter" aria-hidden="true"></i>
					<div>Tweet <a href="https://twitter.com/koalatiweb" class="blue-link link-blue" target="_blank">@koalatiweb</a></div>
				</li>
				<li>
					<i class="fas fa-envelope" aria-hidden="true"></i>
					<div>Send us an email at <a href="mailto:info@koalati.com" class="blue-link link-blue">info@koalati.com</a></div>
				</li>
			</ul>
        </section>
        <section class="card">
            <h2>{% trans %}help.feedback.title{% endtrans %}</h2>
			<p>{% trans %}help.feedback.content{% endtrans %}</p>
			<hr>
			<div class="button-container center">
				<feedback-form-toggle>
					<nb-button>{% trans %}help.feedback.button{% endtrans %}</nb-button>
				</feedback-form-toggle>
			</div>
        </section>
    </div>
	<section class="card">
		<h2>{% trans %}help.faq.title{% endtrans %}</h2>
		{# @TODO: Replace this hardcoded FAQ by a CMS-managed FAQ that can be used in both the marketing site and the app #}

		<h3>Onboarding</h3>

		<nb-accordion>
			<div slot="summary">I skipped the initial onboarding, can I see it again?</div>
			<p>Yes, you can! <a href="{{ path('onboarding') }}" class="text-link">View the onboarding again</a>.</p>
		</nb-accordion>

		<nb-accordion>
			<div slot="summary">How do I test my website with Koalati?</div>
			<p>Create a project, then let the <strong>Checklist</strong> feature guide you through the manual testing process.</p>
			<p>Once you've done the manual tests, you can optimize the site some more by using the <strong>Recommendations</strong> feature and following its suggestions.</p>
		</nb-accordion>

		<hr class="spacer small">
		<h3>Projects</h3>

		<nb-accordion>
			<div slot="summary">How many projects can I have?</div>
			<p>As many as you like!</p>
			<p>There is no limit to the number of projects you can have; only active projects are counted towards your monthly quota.</p>
			<p>This allows you to keep an archive of your status and progress in the quality control process, and to pick up where you left off whenever you want.</p>
		</nb-accordion>

		<hr class="spacer small">
		<h3>Teams</h3>

		<nb-accordion>
			<div slot="summary">Can I join a team as a free user?</div>
			<p>Yes! Every user can join teams.</p>
			<p>Joining a team will give you access to the features and quotas of that team, but only for team projects.</p>
			<p>Your personal projects will still be limited to your plan's quotas and feature set.</p>
		</nb-accordion>

		<nb-accordion>
			<div slot="summary">How many teams can I create?</div>
			<p>Each account with team creation privilege can create one team.</p>
			<p>If you need to create more than one team for your business, we recommend creating multiple accounts (or reaching out to let us know you'd want that - we might just add that feature for you!).</p>
		</nb-accordion>

		<hr class="spacer small">
		<h3>Trial</h3>

		<nb-accordion>
			<div slot="summary">What happens when my trial ends?</div>
			<p>Your trial ends after 14 days if you haven't upgraded to a paid plan.</p>
			<p>Once that 14-day period is over, you won't have access to your projects anymore until you subscribe to a paid plan.</p>
			<p>If you have created a team, neither you or your team's members will be able to access the team's projects until you subscribe to the Small Team or Business plan, or until you transfer ownership of the team to a user who is on one of these plans. To transfer a team's ownership, please contact us.</p>
		</nb-accordion>

		<hr class="spacer small">
		<h3>API</h3>

		<nb-accordion>
			<div slot="summary">Does Koalati offer an API?</div>
			<p>Yes!</p>
			<p>Take a look at our <a href="/api/docs" target="_blank" class="text-link">API documentation</a> for more information on how you can integrate Koalati in your favorite tools and workflows.</p>
		</nb-accordion>

		<hr class="spacer small">
		<h3>Subscriptions</h3>

		<nb-accordion>
			<div slot="summary">How do I change or cancel my subscription?</div>
			<p>You can change or cancel your subscription by yourself in the <a href="{{ path("manage_subscription") }}" class="text-link">Manage Subscription page</a>.</p>
			<p>If you have any question regarding your subscription, don't hesitate to contact us via email at <a href="mailto:info@koalati.com" class="text-link">info@koalati.com</a>: we'll get back to you as swiftly as possible.</p>
		</nb-accordion>

		<nb-accordion>
			<div slot="summary">Can I increase my automated testing quotas?</div>
			<p>Your page testing quota is determined by your subscription plan, so you can upgrade or downgrade your plan to change your quota.</p>
			<p>You can also allow automated testing to exceed your plan's quota by Allowing Page Tests over Quota in the <a href="{{ path("manage_subscription_quota") }}" class="text-link">Quotas & Usage page</a>.</p>
			<p>In that page, you'll also be able to define a spending limit to prevent unwanted charges from being incurred when over-the-quota usage is allowed.</p>
		</nb-accordion>
	</section>
{% endblock %}
