<div id="flash-messages">
	{% for type, messages in app.flashes %}
		{% for message in messages %}
			<div class="flash-message {{ type }}">
				<span class="icon">
					{% if type == "success" %}
						<i class="fad fa-circle-check"></i>
					{% elseif type == "error" %}
						<i class="fad fa-circle-xmark"></i>
					{% elseif type == "warning" %}
						<i class="fad fa-circle-exclamation"></i>
					{% else %}
						<i class="fad fa-circle-info"></i>
					{% endif %}
				</span>
				<span class="content">{{ message }}</span>
			</div>
		{% endfor %}
	{% endfor %}
</div>
