<div id="global-actions">
    <a href="#" id="search-toggle">
        <i class="far fa-magnifying-glass"></i>
    </a>
    <a href="#" id="notifications-toggle">
        <i class="far fa-bell"></i>
    </a>
    <div href="#" id="profile-toggle">
        <img src="{{ gravatar(app.user.email) }}">
		<ul class="floating-dropdown reveal-on-hover text-center">
			<li><a href="{{ path('edit_profile') }}">{% trans %}global_actions.profile{% endtrans %}</a></li>
			<li><a href="{{ path('logout') }}">{% trans %}global_actions.logout{% endtrans %}</a></li>
		</ul>
    </div>
</div>
