{% set has_active_tab = false %}

{% if page_tabs is defined and page_tabs|length > 0 %}
    <ul id="page-tabs">
        {%- for tab in page_tabs -%}
            {% set is_active_tab = false %}

            {% if tab.id is defined %}
                {% set page_tab_href = '#' ~ tab.id %}
            {% elseif tab.route is defined %}
                {% if tab.route_params is defined %}
                    {% set page_tab_href = path(tab.route, tab.route_params) %}
                {% else %}
                    {% set page_tab_href = path(tab.route) %}
                {% endif %}

                {% if tab.route == app.request.get('_route') %}
                    {% set is_active_tab = true %}
                    {% set has_active_tab = true %}
                {% endif %}
            {% else %}
                {% set page_tab_href = '#' %}
            {% endif %}

            <li class="{{ is_active_tab ? 'active' : '' }}">
                <a href="{{ page_tab_href }}">
                    {{ tab.label|trans }}
                </a>
            </li>
        {%- endfor -%}
    </ul>
{% endif %}

{% if not has_active_tab %}
    <script>
        document.querySelector("#page-tabs li:first-child")?.classList?.add?.("active");
    </script>
{% endif %}
