<div id="quick-actions">
	<a href="#" class="toggle">
		<i class="far fa-plus"></i>
	</a>
	<div class="actions">
		<feedback-form-toggle>
			{% trans %}feedback.cta{% endtrans %}
		</feedback-form-toggle>
		{% if organization is defined %}
			<a href="{{ path('organization_settings', {id: organization.id|hashids_encode}) }}#members">{% trans %}quick_actions.add_team_member{% endtrans %}</a>
		{% elseif app.user.defaultOrganization %}
			<a href="{{ path('organization_settings', {id: app.user.defaultOrganization.id|hashids_encode}) }}#members">{% trans %}quick_actions.add_team_member{% endtrans %}</a>
		{% endif %}
		<a href="{{ path('project_creation') }}">{% trans %}quick_actions.create_project{% endtrans %}</a>
	</div>
</div>
