<div id="quick-actions">
	<a href="#" class="toggle">
		<i class="far fa-plus"></i>
	</a>
	<div class="actions">
		<a href="#">{% trans %}quick_actions.add_team_member{% endtrans %}</a>
		<a href="#">{% trans %}quick_actions.create_project{% endtrans %}</a>
	</div>
</div>
