<div id="search-overlay">
	<div id="search-inner">
		<div class="search-label">{% trans %}search.label{% endtrans %}</div>
		<div class="typed-input">
			<input type="text" name="search" placeholder="{% trans %}search.placeholder{% endtrans %}">
			<span class="type">
				<i class="far fa-magnifying-glass"></i>
			</span>
		</div>
		<div class="search-results"></div>
		<div class="button-container center">
			<nb-button color="dark" class="cancel">
				{% trans %}generic.cancel{% endtrans %}
			</nb-button>
		</div>
	</div>
</div>
