twig:
    default_path: '%kernel.project_dir%/templates'
    form_themes: ['_form/fieldset_layout.html.twig', '_form/errors.html.twig', '_form/paragraph.html.twig', '_form/spacer.html.twig']
    paths:
        '%kernel.project_dir%/email_assets/images': email-images
        '%kernel.project_dir%/email_assets/css': email-styles
