{% extends 'base.html.twig' %}

{% block title %}{% trans %}password_reset.check_email.page_title{% endtrans %}{% endblock %}

{% block body %}
	<section>
		<div class="container center column">
			<img id="big-branding" src="{{ asset("media/brand/koalati-logo-v.svg") }}" alt="Koalati's logo" width="250">

			<div class="card small">
				<p>
					{% trans with {"%time%": resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle')} %}password_reset.check_email.explanation{% endtrans %}
				</p>
				<p>{% trans with {"%link%": path('app_forgot_password_request')} %}password_reset.check_email.spam{% endtrans %}</p>
			</div>

			<div class="text-center">
				<nb-button href="{{ path('login') }}">
					{% trans %}password_reset.check_email.back_to_login{% endtrans %}
				</nb-button>
			</div>
		</div>
	</section>
{% endblock %}

