{% extends 'app_base.html.twig' %}

{% block title %}{% trans %}user_settings.security.title{% endtrans %}{% endblock %}

{% block page_tabs %}
	{% include 'app/user/security/_tabs.html.twig' %}
{% endblock %}

{% block body %}
    <div class="grid cols-2">
        <div class="card">
			<h2>{% trans %}user_settings.security.email.title{% endtrans %}</h2>
			{{ form(emailForm) }}
		</div>
        <div class="card">
			<h2>{% trans %}user_settings.security.password.title{% endtrans %}</h2>
			{{ form(passwordForm) }}
		</div>
	</div>
	<div class="grid">
        <div class="card">
			<h2>{% trans %}user_settings.security.delete_account.title{% endtrans %}</h2>
			{% trans %}user_settings.security.delete_account.explanation{% endtrans %}
			<hr>
			{{ form(deletionForm) }}
		</div>
	</div>
	<div class="grid">
        <div class="card">
			<h2>{% trans %}generic.recent_activity{% endtrans %}</h2>
			<activity-logs itemsPerPage="5"></activity-logs>
		</div>
	</div>
{% endblock %}
