body { padding: 45px 60px; padding-left: calc(var(--sidebar-width) + 60px); font-family: Raleway, sans-serif; font-size: 15px; font-weight: 400; color: var(--color-black); background-color: #eff2ff; background-image: radial-gradient(circle, rgb(255 255 255 / 0.9) 0%, #eff2ff 100%); background-size: 100% 190vh; background-position: center top -75vh; background-repeat: no-repeat; background-attachment: fixed; }

h1 { font-size: 28px; font-weight: 800; line-height: 1.5; }
h2 { font-size: 20px; font-weight: 700; line-height: 1.25; }
h3 { font-size: 20px; font-weight: 600; line-height: 1.25; }
hr, .spacer { width: 100%; height: 1px; margin: 30px auto; background-color: #F4F4F4; border: none; }
.spacer { height: 0; }

.text-center { text-align: center; }
.text-left { text-align: left; }
.text-right { text-align: right; }

/* Layout */
/* Layout: header */
header { width: var(--sidebar-width); height: 100%; padding: 30px; border-right: 1px solid var(--color-gray-light); position: fixed; top: 0; left: 0; }
header #brand-wrapper { height: 100px; }
/* Layout: header: navigation */
header nav { font-weight: 500; }
header nav li { margin-bottom: 20px; border-radius: 10px; }
header nav a { display: flex; height: 45px; padding: 0 15px; align-items: center; font-size: 15px; color: var(--color-gray); transition: color .25s ease; }
header nav a i { display: inline-block; width: 30px; margin-right: 15px; font-size: 20px; text-align: center; }
header nav a:hover { color: var(--color-black); }
header nav a:not(:last-child)::after { content: '\f105'; margin-left: auto; font-family: var(--fa-style-family); font-size: 12px; font-weight: 400; }
header nav li > ul { display: none; }
header nav li.active { background-color: #F8FAFF; box-shadow: 0 3px 15px 0 rgba(var(--shadow-rgb), .09); }
header nav li.active a { color: var(--color-black); }
header nav li.active > ul { display: block; }

/* Layout: top bar */
#top-bar { display: flex; justify-content: space-between; align-items: center; }
/* Layout: top bar: page tabs */
#page-tabs { display: flex; }
#page-tabs a { display: block; height: 28px; font-size: 16px; font-weight: 500; color: var(--color-gray); transition: color .25s ease; }
#page-tabs li + li { margin-left: 45px; }
#page-tabs li:hover a { color: var(--color-black); }
#page-tabs li.active a { color: var(--color-black); border-bottom: 2px solid; }
/* Layout: top bar: global actions */
#global-actions { display: flex; align-items: center; }
#global-actions > a { display: inline-block; padding: 10px 12px; margin-left: 20px; font-size: 20px; color: var(--color-gray); transition: color .25s ease; position: relative; }
#global-actions > a:hover { color: var(--color-black); }
#global-actions > #profile-toggle { padding: 0; padding-left: 12px; font-size: 0; line-height: 0; }
#global-actions > #profile-toggle img { width: 34px; height: 34px; object-fit: cover; object-position: center; border-radius: 50%; }

/* Layout: page wrapper */
#page-wrapper { margin-top: 40px; }
#page-content { margin-top: 20px; }
