h1 { font-size: 28px; font-weight: 800; line-height: 1.5; }
h2 { margin-bottom: 1.5em; font-size: 20px; font-weight: 700; line-height: 1.25; }
h3 { font-size: 20px; font-weight: 600; line-height: 1.25; }
hr,
.spacer { width: 100%; height: 1px; margin: 30px auto; background-color: #F4F4F4; border: none; }
.spacer { height: 0; }

/* Text alignment */
.text-center { text-align: center; }
.text-left { text-align: left; }
.text-right { text-align: right; }

/* Text color */
.text-gray { color: var(--color-gray); }
