@media (prefers-color-scheme: dark) {
	:root {
		--color-white: #14171f;
		--color-black: #cfd1d8;
		--color-gray-light: #1e212b;
		--color-blue: #304CAC;
		--color-red: #851414;
		--color-red-faded: #b41818;
		--card-bg-color: var(--color-white);
		--card-secondary-title-color: #6584ef;
		--card-secondary-bg-color: #1e2333;
		--button-text-color: var(--color-black);
		--button-text-color-hover: var(--color-black);
		--button-bg-color: var(--color-blue);
		--notification-bg-color: #1f2a3c;
		--notification-text-color: #d5ddf5;
		--notification-warning-bg-color: #56401d;
		--notification-warning-text-color: #dcc6a4;
		--notification-danger-bg-color: #402929;
		--notification-danger-text-color: #e2b3b3;
		--flash-bg-color: #384988;
		--flash-success-bg-color: #3b7347;
		--flash-warning-bg-color: #b36038;
		--flash-danger-bg-color: #9f3838;
		--tabbed-page-navigation-bg-color: #202538;
		--tabbed-page-navigation-text-color: var(--color-gray);
		--tabbed-page-navigation-text-color-hover: var(--color-black);
		--tabbed-page-navigation-text-color-active: var(--color-blue-light);
		--tabbed-page-content-bg-color: var(--color-white);
	}
	body { background-color: #050505; background-image: radial-gradient(circle, rgb(17 103 243 / 5%) 0%, rgb(128 135 171 / 10%) 100%); }
	hr,
	.spacer { background-color: var(--color-gray-light); }

	/* Navigation */
	header nav > ul > li.active { background-color: var(--color-gray-light); }

	/* Forms */
	fieldset label { color: var(--color-gray); }
	:is(.standalone-checkbox, .standalone-radio) label { color: var(--color-gray); }

	/* Inputs */
	input,
	textarea,
	select { color: var(--color-black); }

	/* Buttons */
	:is(input[type="button"], button, .button).gray { --button-bg-color: #24283e; --button-bg-color-hover: #31385a; color: #afb4bf; }

	/* Text links */
	a.text-link { color: var(--color-blue-light); }

	/* Text colors */
	.text-red { color: #d65757; }
	.text-blue-faded { color: #6481e6; }
	.text-blue-gray { color: #9ca8d6; }

	/* Component: Project: Thumbnail */
	.project-thumbnail .thumbnail::after { background-color: black; }
	.project-thumbnail .thumbnail img { filter: brightness(.75); }

	/* Lists */
	.list-headings { color: var(--color-gray); }

	/* Search overlay */
	#search-inner .search-label,
	#search-inner .search-results .empty-state,
	#search-inner .search-results a.selected { color: var(--color-gray); }
}
