/* Field wrappers */
fieldset { display: flex; padding: 0; margin: 0; border: none; flex-direction: column; }
fieldset label { font-size: 1rem; font-weight: 600; color: var(--color-gray-dark); }
fieldset input { margin: 6px 0; }
fieldset + fieldset { margin-top: 15px; }
/* Checkbox field wrappers */
fieldset.checkbox { flex-direction: row; align-items: flex-start; }
fieldset.checkbox label { margin-top: 8px; padding-left: 10px; font-weight: 500; -webkit-font-smoothing: antialiased; cursor: pointer; }
/* Errors */
fieldset .error { display: block; padding: 12px; padding-right: 42px; margin: 5px 0; font-size: .85rem; font-weight: 600; color: var(--notification-danger-icon-color); background-color: var(--notification-danger-bg-color); border-radius: 8px; position: relative; }
fieldset .error::after { content: '\f06a'; display: flex; justify-content: center; align-items: center; font-family: var(--fa-style-family); font-size: 22px; font-weight: 600; line-height: 1rem; position: absolute; top: 0; right: 12px; bottom: 0; }
