.text-highlight { padding: .15em .4em; color: var(--color-blue-dark-faded); background-color: var(--color-blue-10); border-radius: .2rem; }
.text-highlight.green { color: #186000; background-color: var(--color-green-10); }
.text-highlight.red { color: #910909; background-color: var(--color-red-lighter); }
.text-highlight.yellow { color: var(--color-black); background-color: var(--color-yellow-light); }
.text-highlight.orange { color: #683f00; background-color: var(--color-orange-lighter); }
a.text-highlight:hover { text-decoration: underline; }
