/* stylelint-disable block-opening-brace-newline-after, block-closing-brace-newline-before, declaration-block-semicolon-newline-after */
:root {
	/* Layout */
	--sidebar-width: 270px;

	/* Colors */
	--color-white: #fff;
	--color-black: #13204D;
	--color-blue: #2751E6;
	--color-blue-80: #415BE5;
	--color-blue-50: #8195EF;
	--color-blue-20: #CAD3F8;
	--color-blue-10: #e4e9fb;
	--color-blue-light: #91A6F3;
	--color-blue-lighter: #DAE1FB;
	--color-blue-dark: #102984;
	--color-blue-darker: #13204D;
	--color-blue-faded: #5074F2;
	--color-blue-dark-faded: #415BB5;
	--color-green: #36D103;
	--color-green-80: #51D728;
	--color-green-50: #8CE86D;
	--color-green-20: #CEF6C1;
	--color-green-10: #E7FBDF;
	--color-green-light: #B3FD9B;
	--color-green-lighter: #B3FD9B;
	--color-red: #ff4646;
	--color-red-light: #F99;
	--color-red-lighter: #FFD6D6;
	--color-orange: #f90;
	--color-orange-light: #ffc46d;
	--color-orange-lighter: #ffdfb0;
	--color-yellow: #FFFA60;
	--color-yellow-light: #FFFC99;
	--color-yellow-lighter: #FFFDD6;
	--color-teal: #5AE4EF;
	--color-teal-light: #B5F3F8;
	--color-teal-lighter: #B5F3F8;
	--color-gray: #ADB5D0;
	--color-gray-light: #E7ECFF;
	--color-gray-lighter: #F6F8FF;
	--color-gray-dark: #7781a5;
	--color-gray-darker: #3b497b;

	/* Shadows */
	--shadow-rgb: 17, 39, 119;

	/* Grid */
	--grid-gap: 30px;
	--grid-small-width: minmax(200px, max(390px, 35%));

	/* Cards */
	--card-width-small: 400px;
	--card-width-medium: 600px;
	--card-width-large: 850px;
	--card-bg-color: var(--color-white);
	--card-secondary-bg-color: var(--color-gray-light);
	--card-secondary-title-color: var(--color-blue-dark-faded);

	/* Buttons */
	--button-bg-color: var(--color-blue);
	--button-bg-color-hover: var(--color-blue-faded);
	--button-text-color: var(--color-white);
	--button-text-color-hover: var(--color-white);

	/* Notifications */
	--notification-bg-color: var(--color-blue-lighter);
	--notification-icon-color: var(--color-blue-light);
	--notification-text-color: var(--color-blue-dark);
	--notification-warning-bg-color: var(--color-orange-lighter);
	--notification-warning-icon-color: var(--color-orange-light);
	--notification-warning-text-color: #523408;
	--notification-danger-bg-color: var(--color-red-lighter);
	--notification-danger-icon-color: var(--color-red-light);
	--notification-danger-text-color: #651414;

	/* Flash messages */
	--flash-bg-color: var(--color-blue);
	--flash-success-bg-color: var(--color-green);
	--flash-warning-bg-color: var(--color-orange);
	--flash-danger-bg-color: var(--color-red);

	/* Modals */
	--modal-bg-color: var(--color-white);
	--modal-header-separator-color: var(--color-gray-light);
	--modal-loading-overlay-bg-color: var(--color-white);
	--modal-loading-overlay-spinner-color: var(--color-blue-light);

	/* Tabbed page container */
	--tabbed-page-navigation-bg-color: #E8ECFD;
	--tabbed-page-navigation-text-color: #7781A5;
	--tabbed-page-navigation-text-color-hover: var(--color-black);
	--tabbed-page-navigation-text-color-active: var(--color-blue);
}
