{% extends 'app_base.html.twig' %}

{% block title %}{% trans %}dashboard.tabs.overview{% endtrans %}{% endblock %}

{% block page_tabs %}
	{% include 'app/_parts/page_tabs.html.twig' with {page_tabs: [
	    {label: 'dashboard.tabs.overview', route: 'dashboard'},
	    {label: 'dashboard.tabs.projects', route: 'projects'},
	    {label: 'dashboard.tabs.inbox', route: 'inbox'},
	    {label: 'dashboard.tabs.news', route: 'koalati_news'},
	]} %}
{% endblock %}

{% block body %}
    <div class="grid small-fill">
        <div class="card">
            <h2>{% trans %}dashboard.projects.title{% endtrans %}</h2>
            <hr>
            <div class="button-container">
                <a href="#" class="button">{% trans %}dashboard.projects.view_all{% endtrans %}</a>
            </div>
        </div>
        <div class="card">
            <h2>{% trans %}dashboard.notifications.title{% endtrans %}</h2>
            <div class="notification">
                <div class="icon">
                    <i class="fad fa-user"></i>
                </div>
                <div class="content">
                    <div class="date">3h ago</div>
                    <div class="message">A new member has been added to your team: say hello to Benjamin!</div>
                </div>
            </div>
            <div class="notification warning">
                <div class="icon">
                    <i class="fad fa-user"></i>
                </div>
                <div class="content">
                    <div class="date">3h ago</div>
                    <div class="message">A new member has been added to your team: say hello to Benjamin!</div>
                </div>
            </div>
            <div class="notification danger">
                <div class="icon">
                    <i class="fad fa-user"></i>
                </div>
                <div class="content">
                    <div class="date">3h ago</div>
                    <div class="message">A new member has been added to your team: say hello to Benjamin!</div>
                </div>
            </div>
        </div>
    </div>

    <hr class="spacer">

    <h2>{% trans %}dashboard.news.title{% endtrans %}</h2>
    <div class="grid small-small-fill">
        <div class="card secondary">
            <h3>Lorem ipsum dolor sit amet</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit minima culpa cupiditate quas exercitationem beatae vel ullam.</p>
        </div>
        <div class="card secondary">
            <h3>Lorem ipsum dolor sit amet</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit minima culpa cupiditate quas exercitationem beatae vel ullam.</p>
        </div>
        <div class="card blue centered">
            <p>Want to see more?</p>
            <div class="button-container">
                <a href="#" class="button">Read the blog</a>
            </div>
        </div>
    </div>
{% endblock %}
