{% extends 'app_base.html.twig' %}
{% from 'app/_macros/project.html.twig' import project_list_simple %}

{% block head %}
    <link rel="stylesheet" href="{{ asset('css/component/project/list-simple.css') }}">
{% endblock %}

{% block section_title %}{% trans %}dashboard.title{% endtrans %}{% endblock %}
{% block title %}{% trans %}dashboard.tabs.overview{% endtrans %}{% endblock %}

{% block page_tabs %}
	{% include 'app/_parts/page_tabs.html.twig' with {page_tabs: [
	    {label: 'dashboard.tabs.overview', route: 'dashboard'},
	    {label: 'dashboard.tabs.projects', route: 'projects'},
	    {label: 'dashboard.tabs.inbox', route: 'inbox'},
	    {label: 'dashboard.tabs.news', route: 'koalati_news'},
	]} %}
{% endblock %}

{% block body %}
    <div class="grid small-fill">
        <div class="card">
            <h2>{% trans %}dashboard.projects.title{% endtrans %}</h2>
			{% if projects|length %}
				{{ project_list_simple(projects) }}
				<hr>
				<div class="button-container">
					<nb-button href="{{ path('projects') }}">{% trans %}dashboard.projects.view_all{% endtrans %}</nb-button>
				</div>
			{% else %}
				<div class="text-gray">
					{% trans %}dashboard.projects.empty_state{% endtrans %}
				</div>
				<hr>
				<div class="button-container">
					<nb-button href="#">{% trans %}dashboard.projects.create_first{% endtrans %}</nb-button>
				</div>
			{% endif %}
        </div>
        <div class="card">
            <h2>{% trans %}dashboard.notifications.title{% endtrans %}</h2>
            <div class="notification">
                <div class="icon">
                    <i class="fad fa-user"></i>
                </div>
                <div class="content">
                    <div class="date">3h ago</div>
                    <div class="message">A new member has been added to your team: say hello to Benjamin!</div>
                </div>
            </div>
            <div class="notification warning">
                <div class="icon">
                    <i class="fad fa-user"></i>
                </div>
                <div class="content">
                    <div class="date">3h ago</div>
                    <div class="message">A new member has been added to your team: say hello to Benjamin!</div>
                </div>
            </div>
            <div class="notification danger">
                <div class="icon">
                    <i class="fad fa-user"></i>
                </div>
                <div class="content">
                    <div class="date">3h ago</div>
                    <div class="message">A new member has been added to your team: say hello to Benjamin!</div>
                </div>
            </div>
        </div>
    </div>

    <hr class="spacer">

    <h2>{% trans %}dashboard.news.title{% endtrans %}</h2>
    <div class="grid small-small-fill">
        <div class="card secondary">
            <h3>Lorem ipsum dolor sit amet</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit minima culpa cupiditate quas exercitationem beatae vel ullam.</p>
        </div>
        <div class="card secondary">
            <h3>Lorem ipsum dolor sit amet</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit minima culpa cupiditate quas exercitationem beatae vel ullam.</p>
        </div>
        <div class="card blue centered">
            <p>Want to see more?</p>
            <div class="button-container">
                <nb-button href="#">Read the blog</nb-button>
            </div>
        </div>
    </div>
{% endblock %}
