{% extends 'app_base.html.twig' %}
{% from 'app/_macros/project.html.twig' import project_thumbnails %}

{% block head %}
    <link rel="stylesheet" href="{{ asset('css/component/thumbnail.css') }}">
	<style>
		@media (max-width: 600px) {
			#project-search-bar { display: none; }
		}
	</style>
{% endblock %}

{% block section_title %}{% trans %}dashboard.title{% endtrans %}{% endblock %}
{% block title %}{% trans %}dashboard.tabs.projects{% endtrans %}{% endblock %}

{#% block page_tabs %}
	{% include 'app/_parts/page_tabs.html.twig' with {page_tabs: [
	    {label: 'dashboard.tabs.overview', route: 'dashboard'},
	    {label: 'dashboard.tabs.projects', route: 'projects'},
	]} %}
{% endblock %#}

{% block page_actions %}
	<div class="typed-input" id="project-search-bar">
        <input type="text" name="search" placeholder="{% trans %}dashboard.actions.search_project{% endtrans %}" oninput="document.querySelector('project-list').applySearchQuery(this.value)">
        <span class="type">
			<i class="far fa-magnifying-glass text-gray"></i>
		</span>
    </div>
	<nb-button href="{{ path('project_creation') }}">{% trans %}dashboard.actions.new_project{% endtrans %}</nb-button>
{% endblock %}

{% block body %}
	{{ project_thumbnails(projects|slice(0, 4)) }}
	<hr class="spacer">
	<project-list emptyState="{% trans %}dashboard.projects.empty_state{% endtrans %}">></project-list>
{% endblock %}
