{% extends 'base.html.twig' %}

{% block title %}Log in{% endblock %}

{% block body %}

	<section>
		<div class="container center column">
			<form method="post" class="card small">
				<h1>{% trans %}login.form.title{% endtrans %}</h1>

				{% if error %}
					<fieldset class="errors">
						<div class="error">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
					</fieldset>
				{% endif %}

				<fieldset>
					<label for="input-email">{% trans %}login.form.field.email{% endtrans %}</label>
					<input type="email" value="{{ last_username }}" name="email" id="input-email" required autofocus>
				</fieldset>

				<fieldset>
					<label for="input-password">{% trans %}login.form.field.password{% endtrans %}</label>
					<input type="password" name="password" id="input-password" required>
				</fieldset>

				<fieldset class="checkbox">
					<input type="checkbox" name="_remember_me" id="remember-me">
					<label for="remember-me">{% trans %}login.form.field.remember_me{% endtrans %}</label>
				</fieldset>

				<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

				<hr>

				<div class="button-container center">
					<button type="submit" id="submit">
						{% trans %}login.form.submit_label{% endtrans %}
					</button>
				</div>
			</form>
		</div>
	</section>
{% endblock %}
