<h3>{% trans %}recommendation.modal.description_heading{% endtrans %}</h3>
{{ recommendationGroup.sample.parentResult.description|markdown_to_html }}
<nb-button href="#" target="_blank" size="small" color="gray">
	{% trans %}recommendation.modal.learn_more{% endtrans %}
	&nbsp;
	<i class="far fa-up-right-from-square"></i>
</nb-button>

<hr>

<h3>{% trans %}recommendation.modal.pages_heading{% endtrans %}</h3>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam iste dolorem accusamus quisquam sed, laboriosam quo reiciendis! Temporibus illo omnis recusandae expedita aut a sunt maxime blanditiis, dignissimos asperiores nemo?</p>
{# TODO: Add recommendation details (snippets, table) for each page #}

{# TODO: Add a section that shows other recommendations from the same test/tool #}
