{% extends 'app_base.html.twig' %}
{% from 'app/_macros/project.html.twig' import project_breadcrumb_link %}

{% block title %}{% trans %}project_settings.automated_testing.title{% endtrans %}{% endblock %}
{% block section_title %}{{ project_breadcrumb_link(project) }}{% endblock %}

{% block head %}
	{{ encore_entry_script_tags('settings') }}
{% endblock %}

{% block page_tabs %}
	{% include 'app/project/settings/_tabs.html.twig' %}
{% endblock %}

{% block body %}
	<tabbed-container>
		<div id="ignored">
			<h2>{% trans %}project_settings.automated_testing.tabs.ignored_recommendations{% endtrans %}</h2>
			<recommendation-ignore-list projectId="{{ project.id|hashids_encode }}" light></recommendation-ignore-list>
		</div>
		<div id="tools">
			<h2>{% trans %}project_settings.automated_testing.tabs.tools{% endtrans %}</h2>
			<testing-tool-list projectId="{{ project.id|hashids_encode }}" light></testing-tool-list>
		</div>
	</tabbed-container>
{% endblock %}
