{% extends 'app_base.html.twig' %}
{% from 'app/_macros/project.html.twig' import project_breadcrumb_link %}

{% block title %}{% trans %}project_settings.team.title{% endtrans %}{% endblock %}
{% block section_title %}{{ project_breadcrumb_link(project) }}{% endblock %}

{% block page_tabs %}
	{% include 'app/project/settings/_tabs.html.twig' %}
{% endblock %}

{% block body %}
	<tabbed-container>
		<div id="team-and-roles">
			<h2>{% trans %}project_settings.team.tabs.team{% endtrans %}</h2>
			{% trans %}generic.not_yet_implemented{% endtrans %}
		</div>
	</tabbed-container>
{% endblock %}

{% block javascripts %}
	{{ encore_entry_script_tags('settings') }}
{% endblock %}
