# This file is the entry point to configure your own services.
# Files in the packages/ subdirectory configure your dependencies.

# Put parameters here that don't need to change on each machine where the app is deployed
# https://symfony.com/doc/current/best_practices/configuration.html#application-related-configuration

imports:
    - { resource: 'sessions.yaml' }

parameters:
    test_stub_dir: '%kernel.project_dir%/tests/stub'
    paddle_public_key: '%env(PADDLE_PUBLIC_KEY)%'

services:
    # default configuration for services in *this* file
    _defaults:
        autowire: true      # Automatically injects dependencies in your services.
        autoconfigure: true # Automatically registers your services as commands, event subscribers, etc.
        bind:
            Symfony\Component\Serializer\Serializer $simpleSerializer: '@SimpleSerializer'

    _instanceof:
        App\Subscription\Plan\PlanInterface:
            tags: ['app.subscription_plan']
        App\Mercure\EntityHandlerInterface:
            tags: ['app.mercure_entity_handler']

    # makes classes in src/ available to be used as services
    # this creates a service per class whose id is the fully-qualified class name
    App\:
        resource: '../src/'
        exclude:
            - '../src/DependencyInjection/'
            - '../src/Entity/'
            - '../src/Kernel.php'
            - '../src/Tests/'

    # controllers are imported separately to make sure services can be injected
    # as action arguments even if you don't extend any base controller class
    App\Controller\:
        resource: '../src/Controller/'
        tags: ['controller.service_arguments']

    # @TODO: Find a way to implement the normalizer/serializers without requiring the container (currently causes a circular reference with DefaultNormalizer)
    Symfony\Component\DependencyInjection\ContainerInterface:
        '@service_container'

    # Configure the serializer for entities by default
    SimpleSerializer:
        class: Symfony\Component\Serializer\Serializer
        arguments:
            - ['@DateTimeNormalizer', '@JsonSerializableNormalizer', '@GetSetMethodNormalizer', '@ObjectNormalizer']
            - ['@JsonEncoder']

    Symfony\Component\Serializer\SerializerInterface:
        class: Symfony\Component\Serializer\Serializer
        public: true
        arguments:
            - ['@ProjectNormalizer', '@DefaultNormalizer']
            - ['@JsonEncoder']

    ProjectNormalizer:
        class: App\Serializer\ProjectNormalizer
        tags: [serializer.normalizer]

    DefaultNormalizer:
        class: App\Serializer\DefaultNormalizer
        public: true
        tags: [serializer.normalizer]

    GetSetMethodNormalizer:
        class: Symfony\Component\Serializer\Normalizer\GetSetMethodNormalizer
        tags: [serializer.normalizer]

    ObjectNormalizer:
        class: Symfony\Component\Serializer\Normalizer\ObjectNormalizer
        tags: [serializer.normalizer]

    DateTimeNormalizer:
        class: Symfony\Component\Serializer\Normalizer\DateTimeNormalizer
        tags: [serializer.normalizer]

    JsonSerializableNormalizer:
        class: Symfony\Component\Serializer\Normalizer\JsonSerializableNormalizer
        tags: [serializer.normalizer]

    JsonEncoder:
        class: Symfony\Component\Serializer\Encoder\JsonEncoder

    # add more service definitions when explicit configuration is needed
    # please note that last definitions always *replace* previous ones

    League\Flysystem\FilesystemOperator:
        class: League\Flysystem\Filesystem
        arguments:
            - '@League\Flysystem\FilesystemAdapter'

    League\Flysystem\FilesystemAdapter:
        class: League\Flysystem\AwsS3V3\AwsS3V3Adapter
        arguments:
            - '@Aws\S3\S3ClientInterface'
            - '%env(STORAGE_BUCKET)%'

    Aws\S3\S3ClientInterface:
        class: Aws\S3\S3Client
        arguments:
            $args:
                credentials:
                    key: '%env(STORAGE_AUTH_KEY)%'
                    secret: '%env(STORAGE_AUTH_SECRET)%'
                region: '%env(STORAGE_REGION)%'
                version: '%env(STORAGE_VERSION)%'
                endpoint: '%env(STORAGE_ENDPOINT)%'

    App\Storage\AbstractStorage:
        arguments:
            - '@League\Flysystem\FilesystemOperator'
            - '%env(STORAGE_CDN_URL)%'

    App\Storage\ProjectStorage:
        parent:  App\Storage\AbstractStorage

    App\Storage\UserUploadStorage:
        parent:  App\Storage\AbstractStorage

    App\ApiClient\ClientInterface:
        class: 'App\ApiClient\Client'
        arguments:
            - '%env(TOOLS_API_URL)%'
            - '%env(TOOLS_API_BEARER_TOKEN)%'

    App\Util\Screenshot\Driver\ApiFlash:
        arguments:
            - '%env(APIFLASH_ACCESS_KEY)%'

    App\Util\Meta\Driver\UrlMeta:
        arguments:
            - '%env(URLMETA_ACCOUNT_EMAIL)%'
            - '%env(URLMETA_API_KEY)%'

    App\Util\Meta\Driver\OpenGraphIo:
        arguments:
            - '%env(OPENGRAPHIO_API_KEY)%'

    App\Util\Meta\MetaDriverInterface:
        alias: App\Util\Meta\Driver\OpenGraphIo

    App\Util\Favicon\FaviconFetcherInterface:
        alias: App\Util\Favicon\FaviconFetcher

    App\Util\Favicon\FaviconFetcher:
        arguments:
            - ['@App\Util\Favicon\Driver\FaviconKit', '@App\Util\Favicon\Driver\GoogleFavicon']

    Paddle\API:
        class: 'Paddle\API'
        arguments:
            - '%env(PADDLE_VENDOR_ID)%'
            - '%env(PADDLE_AUTH_CODE)%'

    App\Subscription\PlanManager:
        arguments:
            - !tagged_iterator app.subscription_plan

    App\Mercure\UpdateDispatcher:
        arguments:
            - !tagged_iterator app.mercure_entity_handler


    ############################
    # Doctrine event listeners #
    ############################
    App\EventListener\OrganizationMemberDeletionListener:
        tags:
            -
                name: 'doctrine.orm.entity_listener'
                event: 'preRemove'
                entity: 'App\Entity\OrganizationMember'
                lazy: true
