/* Default */
input[type="button"],
button,
.button { display: inline-flex; justify-content: center; align-items: center; padding: 16px 30px; font-size: 15px; font-weight: 700; text-align: center; color: var(--button-text-color); background-color: var(--button-bg-color); border: none; border-radius: 13px; box-shadow: 0 2px 10px 0 rgba(var(--shadow-rgb), .15); cursor: pointer; transition: background .25s ease, box-shadow .25s ease; }

/* Hover */
input[type="button"]:hover,
button:hover,
.button:hover { color: var(--button-text-color-hover); background-color: var(--button-bg-color-hover); box-shadow: 0 3px 15px 0 rgba(var(--shadow-rgb), .25); }

/* Danger */
input[type="button"].danger,
button.danger,
.button.danger { --button-bg-color: var(--color-red); --button-bg-color-hover: var(--color-red-faded); }
/* Warning */
input[type="button"].warning,
button.warning,
.button.warning { --button-bg-color: var(--color-orange); --button-bg-color-hover: var(--color-orange-faded); }
/* Gray */
input[type="button"].gray,
button.gray,
.button.gray { --button-bg-color: #d9ddea; --button-bg-color-hover: var(--color-gray); color: var(--color-gray-dark); }

/* Button container */
.button-container { display: flex; flex-wrap: wrap; justify-content: center; align-items: center; gap: 30px; }
.button-container.left { justify-content: flex-start; }
.button-container.right { justify-content: flex-end; }
/* Button container: fix for unsupported flexbox gap in Safari */
@supports not ((gap: 10px) with (display: flex)) {
	.button-container > * { margin: 0 15px; }
}
