{% extends 'base.html.twig' %}

{% block title %}{% trans %}registration.page_title{% endtrans %}{% endblock %}

{% block head %}
	<link rel="canonical" href="{{ url("registration") }}">
	<style>
		form { width: 40ch; max-width: 100%; }
		form a { color: var(--color-blue); text-decoration: underline; }
		form a:hover { color: var(--color-blue-dark); text-decoration: underline; }
	</style>
{% endblock %}

{% block body %}
	<div class="wave-hero">
		<div>
			<header>
				<a href="https://www.koalati.com" class="brand-logo">
					<img src="{{ asset("media/brand/koalati-logo.svg") }}" alt="Koalati" width="150" loading="lazy">
				</a>
			</header>
			<section id="form-section">
				<div class="container center column">
					<h1>{% trans %}registration.form.title{% endtrans %}</h1>
					{{ form(form) }}
				</div>
			</section>
		</div>
		<div class="wave-section">
			<div class="container center column">
				<strong class="text-large">{% trans %}registration.already_registered{% endtrans %}</strong>
				<nb-button href="{{ path('login') }}" color="white">{% trans %}registration.login{% endtrans %}</nb-button>
			</div>
		</div>
	</div>
{% endblock %}
