{% extends 'app_base.html.twig' %}

{% block title %}{% trans %}organization.create.title{% endtrans %}{% endblock %}

{% block body %}
    <div class="grid small-fill">
        <div class="card">
			{{ form(form) }}
		</div>
	</div>
{% endblock %}
